# Unit 6. 변수(Variable)

- 표기법

In [11]:
my_height = 174.5       # snake 표기법, 파이썬
myWeight = 72           # camel 표기법, 자바

In [12]:
한글변수 = 5            # 한글변수명이 가능하나 잘 안쓰임

### 6.1 변수 만들기

In [13]:
x = 10

In [14]:
x, y, z = 10, 20, 30    # tuple unpacking

In [15]:
# 기존 언어에서 두개의 값을 바꾸는 방법(Swapping)
temp = x
x = y
y = temp
x, y

(20, 10)

In [16]:
# 파이썬
x, y = y, x
x, y

(10, 20)

In [17]:
x = y = z = 10

In [18]:
# 값이 없는 변수
x = None

In [19]:
x

### 6.2 변수 계산

In [20]:
a, b = 10, 20
c = a + b
a, b, c

(10, 20, 30)

In [21]:
# 변수 a의 값을 20만큼 증가
a = a + 20
a

30

In [22]:
a += 20     # a = a + 20
a

50

In [23]:
# 1에서 100까지 합 구하기
sum100 = 0
for i in range(1,101):
    sum100 += i
print(sum100)

5050

In [24]:
# 1에서 10까지 곱 구하기
product = 1
for i in range(1,11):
    product *= i
print(product)

3628800

### 6.3 입력(input)

In [25]:
x = input()
x, type(x)

('10', str)

In [26]:
number = int(input('정수를 입력하세요>'))       # prompt
number, type(number)

(20, int)

In [27]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
 
print(a + b)

1020

In [28]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = input('두 번째 숫자를 입력하세요: ')
 
print(a + int(b))

30

In [29]:
10 + 20, '10' + '20'

(30, '1020')

### 6.4 입력값 두개 받기

In [30]:
# 스트링 split() method
'10 20'.split()         # 공백으로 분리하여 두개의 문자열이 리스트로 반환

['10', '20']

In [31]:
a, b = '10 20'.split()
a, b

('10', '20')

In [33]:
a, b = input('두개의 숫자를 입력하세요.').split()
a, b

('10', '20')

In [34]:
int(a) + int(b)

30

In [35]:
# map
list(map(int, ['10', '20']))

[10, 20]

In [36]:
a, b = map(int, input('두개의 숫자를 입력하세요.').split())
a, b, a+b

(10, 20, 30)

In [38]:
# , 로 분리된 숫자 세개를 입력으로 받아 합계를 구하기
a, b, c = map(int, input(', 로 분리된 숫자 세개를 입력하세요.').split(','))
a, b, c, a+b+c

(10, 20, 30, 60)

- 숫자 N 개를 입력으로 받아서 합계와 평균 구하는 방법

In [39]:
numbers = list(map(int, input('정수 여러개를 입력하세요.').split()))
numbers

[10, 20, 30, 40]

In [40]:
# 합계, 평균
sum(numbers), sum(numbers)/len(numbers)

(100, 25.0)