In [2]:
!python --version

Python 3.7.12

### 심사문제 5.6
<pre>
L이라는 게임에서 "왜곡"이라는 스킬이 AP * 0.6 + 225의 피해를 입힙니다. 
참고로 이 게임에서 AP(Ability Power, 주문력)는 마법 능력치를 뜻합니다. 
다음 소스 코드를 완성하여 스킬의 피해량이 출력되게 만드세요.
</pre>

In [3]:
AP = 102
print(AP * 0.6 + 225)

286.2

### 심사문제 6.7
<pre>
다음 소스 코드를 완성하여 50, 100, None이 각 줄에 출력되게 만드세요.
</pre>

In [4]:
a = 50
b = 100
c = None

In [5]:
print(a)
print(b)
print(c)

50
100
None

### 심사문제 6.8
<pre>
표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 
평균 점수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 
단, 평균 점수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력).
</pre>

In [6]:
kor, eng, mat, sci = map(int, input().split())
print((kor + eng + mat + sci) // 4)

90 95 98 84
91

In [7]:
score = list(map(int, input('국어, 영어, 수학, 과학 점수를 입력하세요. ').split()))
average = sum(score) // len(score)
print(average)

국어, 영어, 수학, 과학 점수를 입력하세요. 90 95 98 84
91

### 심사문제 7.5
<pre>
표준 입력으로 년, 월, 일, 시, 분, 초가 입력됩니다. 
다음 소스 코드를 완성하여 입력된 날짜와 시간을 년-월-일T시:분:초 형식으로 출력되게 만드세요.
</pre>

In [9]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

2022 3 24 9 38 5
2022-3-24T9:38:5

In [10]:
year, month, day, hour, minute, second = map(int, input().split())
print(f'{year}-{month:02d}-{day:02d}T{hour:02d}:{minute:02d}:{second:02d}')

2022 3 24 9 46 0
2022-03-24T09:46:00

In [11]:
import datetime
now = datetime.datetime.now()
print(now)

2022-03-24 00:51:01.435804

In [13]:
now.year, now.month, now.day, now.hour, now.minute, now.second

(2022, 3, 24, 0, 51, 1)

In [14]:
print ("%04d-%02d-%02dT%02d:%02d:%02d" % (now.year, now.month, now.day, now.hour, now.minute, now.second))

2022-03-24T00:51:01

In [15]:
from pytz import timezone
now = datetime.datetime.now(timezone('Asia/Seoul'))
print(now)

2022-03-24 09:55:31.319551+09:00

In [16]:
print ("%04d-%02d-%02dT%02d:%02d:%02d" % (now.year, now.month, now.day, now.hour, now.minute, now.second))

2022-03-24T09:55:31

### 심사문제 8.5
<pre>
표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 
국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격). 
다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
</pre>

In [20]:
kor, eng, mat, sci = map(int, input().split())

91 81 86 79

In [21]:
result = (kor >= 90) and (eng > 80) and (mat > 85) and (sci >= 80)
print(result)

False