# Unit 30. 위치 인수, 키워드 인수

In [3]:
# 위치 인수(positional argument): 10, 20
# 키워드 인수(keyword argument): sep=', ', end='\n\n'
print(10, 20, sep=', ', end='\n\n')

10, 20

### 30.1 위치 인수

In [5]:
print(10, 20, 30, 40, 50)

10 20 30 40 50

In [6]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [7]:
print_numbers(10,20,30)

10
20
30

In [8]:
x = [10,20,30]
print_numbers(*x)       # 리스트 언패킹

10
20
30

- 가변 인수

In [9]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [10]:
print_numbers(10, 20)

10
20

In [11]:
print_numbers(10,20,30,40)

10
20
30
40

In [12]:
print_numbers()

### 30.2 키워드 인수

In [13]:
def personal_info(name, age, address):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [14]:
# 위치 인수로 호출
personal_info('홍길동', 25, '서울시 서초구 서초동')

이름: 홍길동
나이: 25
주소: 서울시 서초구 서초동

In [16]:
# 위치 인수로 호출할 경우에는 정확히 위치를 지정해야 함
personal_info(25, '홍길동', '서울시 서초구 서초동')

이름: 25
나이: 홍길동
주소: 서울시 서초구 서초동

In [17]:
# 키워드로 호출
personal_info(age=25, name='홍길동', address='서울시 서초구 서초동')

이름: 홍길동
나이: 25
주소: 서울시 서초구 서초동

### 30.3 딕셔너리 언패킹

In [18]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 서초구 서초동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울시 서초구 서초동

- 가변 키워드 인수

In [19]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [20]:
personal_info2(**x)

name: 홍길동
age: 30
address: 서울시 서초구 서초동

In [21]:
x['성별'] = '남자'
x['고향'] = '서울'
x

{'address': '서울시 서초구 서초동', 'age': 30, 'name': '홍길동', '고향': '서울', '성별': '남자'}

In [22]:
personal_info2(**x)

name: 홍길동
age: 30
address: 서울시 서초구 서초동
성별: 남자
고향: 서울

- 호출하는 순서: 위치 인수가 키워드 인수보다 먼저 나와야 함

In [23]:
personal_info('홍길동', address='경기도 용인시 수지구', age= 28)

이름: 홍길동
나이: 28
주소: 경기도 용인시 수지구

In [24]:
personal_info(address='경기도 용인시 수지구', '홍길동', age= 28)

SyntaxError: ignored

- 가변 위치 인수, 가변 키워드 인수

In [25]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [26]:
custom_print(10,20,30, sep=', ', end='')

10, 20, 30

### 30.4 매개변수에 초기값 지정

In [27]:
def personal_info(name, age, address='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [28]:
personal_info('홍길동', 25, '서울시 서초구 서초동')

이름: 홍길동
나이: 25
주소: 서울시 서초구 서초동

In [29]:
personal_info('홍길동', 25)

이름: 홍길동
나이: 25
주소: 비공개