# Unit 22. 리스트와 튜플 응용
### 22.1 리스트 조작

In [17]:
# sum은 함수(function)
a = [1, 3, 5, 7, 9]
sum(a)

25

In [18]:
# append는 method 
a.append(11)
a

[1, 3, 5, 7, 9, 11]

- 리스트에 요소 추가
<pre>
append: 요소 하나를 추가
extend: 리스트를 연결하여 확장
insert: 특정 인덱스에 요소 추가
<pre>

In [19]:
a = [10,20,30]
a.append(500)
a

[10, 20, 30, 500]

In [20]:
# 솟수(prime number) - 2, 3, 5, 7, 11, ...
prime_numbers = []

def is_prime_number(num):
    if num == 2:
        return True
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

for i in range(2,101):
    if is_prime_number(i):
        prime_numbers.append(i)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [5]:
# 1에서 100까지 7의 배수 리스트 만들기
multiple7 = []
for i in range(1,101):
    if i % 7 == 0:
        multiple7.append(i)
multiple7

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [7]:
a = [10,20,30]
a.append([100,200])
a

[10, 20, 30, [100, 200]]

In [8]:
b = [10,20,30]
b.extend([100,200])
b

[10, 20, 30, 100, 200]

In [9]:
c = [10,20,30]
c.insert(0, 100)        # index, element
c

[100, 10, 20, 30]

- 요소 삭제
<pre>
pop: 마지막 요소 또는 특정 인덱스의 요소를 삭제
remove: 특정 값을 찾아서 삭제
</pre>

In [10]:
del c[0]
c

[10, 20, 30]

In [14]:
a = [10,20,30]
last_value = a.pop()
last_value, a

(30, [10, 20])

In [15]:
a = [10,20,30]
a.remove(20)
a

[10, 30]

- Stack(Last-In, First-Out)
- Queue(First-In, First-Out)

- 특정 값의 인덱스

In [23]:
a = [10,20,30,20,40]
a.index(20)

1

- 특정 값의 갯수

In [24]:
a.count(20)

2

- 리스트의 순서 뒤집기

In [25]:
a = [10,20,30,40,50]
a.reverse()
a

[50, 40, 30, 20, 10]

In [29]:
a = list(reversed(a))
a

[10, 20, 30, 40, 50]

In [30]:
a[::-1]

[50, 40, 30, 20, 10]

- 정렬(Sort)

In [33]:
# 반복문으로 sort 구현
a = [10, 20, 50, 30, 40, 5, 25]
for i in range(len(a)-1):
    for k in range(i+1, len(a)):
        if a[i] > a[k]:
            a[i], a[k] = a[k], a[i]
a

[5, 10, 20, 25, 30, 40, 50]

In [34]:
# 올림차순(ascending order)
a = [10, 20, 50, 30, 40, 5, 25]
a.sort()
a

[5, 10, 20, 25, 30, 40, 50]

In [35]:
# 내림차순(descending order)
a = [10, 20, 50, 30, 40, 5, 25]
a.sort(reverse=True)
a

[50, 40, 30, 25, 20, 10, 5]

In [38]:
# 다음중 상위 점수 3개
import random
numbers = []
for i in range(30):
    numbers.append(random.randint(1,100))
print(numbers)

[51, 89, 12, 68, 67, 74, 86, 73, 96, 69, 40, 60, 11, 33, 89, 77, 66, 32, 10, 29, 76, 45, 32, 54, 67, 67, 74, 73, 17, 2]

In [41]:
numbers.sort(reverse=True)
numbers[:3]

[96, 89, 89]

In [42]:
sorted(numbers, reverse=True)[:3]

[96, 89, 89]

- 리스트의 모든 요소 삭제

In [43]:
a = [10,20,30]
a.clear()
a

[]

- 리스트의 슬라이스

In [44]:
a = [10, 20, 30]
a.append([400, 500])
a

[10, 20, 30, [400, 500]]

In [45]:
a = [10, 20, 30]
a.extend([400, 500])
a

[10, 20, 30, 400, 500]

In [46]:
a = [10, 20, 30]
a[len(a):] = [400, 500]
a

[10, 20, 30, 400, 500]

In [47]:
a = [10,20,30]
a[1:1] = [500,600]
a

[10, 500, 600, 20, 30]

### 11.2 리스트의 할당과 복사

In [51]:
a = [0, 0, 0]
b = a

In [52]:
b[1] = 10
b

[0, 10, 0]

In [54]:
# side effect로 의도하지 않았던 a 값이 변경됨
a

[0, 10, 0]

In [55]:
a is b

True

- 리스트의 복사

In [56]:
# shallow copy
a = [0,0,0]
b = a.copy()
b[1] = 20
b

[0, 20, 0]

In [57]:
a

[0, 0, 0]

In [58]:
# 2차원 이상에서는 Deep copy가 필요함
a = [[0,0],[0,0]]
b = a.copy()
b[1][1] = 30
b

[[0, 0], [0, 30]]

In [59]:
a

[[0, 0], [0, 30]]

### 22.3 반복문과 리스트

In [60]:
fruits = ['apple','banana','cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [61]:
for index, item in enumerate(fruits):
    print(index, item)

0 apple
1 banana
2 cherry

In [62]:
for index, item in enumerate(fruits, start=1):
    print(index, item)

1 apple
2 banana
3 cherry

In [63]:
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 cherry

### 22.4 min, max, sum

In [66]:
a = [38,21,53,62,19]
smallest = 100
for i in a:
    if i < smallest:
        smallest = i
smallest

19

In [67]:
largest = 0
for i in a:
    if i > largest:
        largest = i
largest

62

In [68]:
min(a), max(a)

(19, 62)

In [69]:
sum(a)

193

### 22.5 리스트 표현식(comprehension)

In [70]:
# 1에서 10까지 제곱수로 된 리스트 만들기
sq_list = []
for i in range(1,11):
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
sq_list = [i*i for i in range(1,11)]
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
odd_sq_list = []
for i in range(1,11):
    if i % 2 == 1:
        odd_sq_list.append(i*i)
odd_sq_list

[1, 9, 25, 49, 81]

In [74]:
odd_sq_list = [i*i for i in range(1,11) if i % 2 == 1]
odd_sq_list

[1, 9, 25, 49, 81]

In [76]:
# 구구단
a = [i * k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [77]:
a = [i * k for i in range(2,10) 
               for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 22.6 map 적용

In [79]:
a = [1.2, 2.5, 3.7, 4.6]
b = []
for element in a:
    b.append(int(element))
b

[1, 2, 3, 4]

In [80]:
b = list(map(int, a))
b

[1, 2, 3, 4]

In [81]:
b = [int(element) for element in a]
b

[1, 2, 3, 4]

In [82]:
# a의 제곱수로 된 리스트
sq_a = []
for element in a:
    sq_a.append(element*element)
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [83]:
# 리스트 표현식으로
sq_a = [element*element for element in a]
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [86]:
# map 적용
def square(x):
    return x*x

sq_a = list(map(square, a))
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [88]:
# 익명(lambda) 함수와 map 적용
sq_a = list(map(lambda x: x*x, a))
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]