# Unit 14. 조건문 if - else

### 14.1 else

In [1]:
import random

In [7]:
x = random.randint(1, 6)
if x >= 4:
    print('큰 수')
else:
    print('작은 수')
print(x)

큰 수
4

In [8]:
x = random.randint(1, 6)
if x % 2 == 0:
    print('짝수')
else:
    print('홀수')
print(x)

짝수
2

In [9]:
x = random.randint(1, 6)
if x % 2 == 0:
    result = 'even number'
else:
    result = 'odd number'
print(x, result)

5 odd number

- 조건부 표현식(3항 연산자)

In [10]:
# Java, JS에서는  result = x % 2 == 0 ? "even" : "odd" ;
result = '짝수' if x % 2 == 0 else '홀수'
print(x, result)

5 odd

### 14.2 else와 들여쓰기

In [13]:
x = 10
if x == 10:
    print('10입니다.') 
else:
    print('x에 들어있는 숫자는')
print('10이 아닙니다.')

10입니다.
10이 아닙니다.

In [14]:
if x == 10:
    print('10입니다.') 
else:
    print('x에 들어있는 숫자는')
    print('10이 아닙니다.')

10입니다.

### 14.3 동작 방식

In [19]:
x = 0.0
if x:
    print(x)
else:
    print('0, 0.0, "", False, None 입니다.')

0, 0.0, "", False, None 입니다.

### 14.4 여러개의 조건식

In [26]:
# 3과 5의  공배수면 FizzBuzz를 출력
# 위의 경우가 아니면 숫자값을 출력

x = 30
if x % 3 == 0 and x % 5 == 0:
    print('FizzBuzz')
else:
    print(x)

FizzBuzz

In [28]:
x = 14
if x >= 10 and x <= 20:
    print('10이상이고 20이하')
else:
    print(x)

10이상이고 20이하

In [29]:
if 10 <= x <= 20:
    print('10이상이고 20이하')
else:
    print(x)

10이상이고 20이하

### 연습문제
<pre>
4로 나누어지면 윤년
100으로 나누어지면 평년
400으로 나누어지면 윤년
그외 평년
</pre>

In [33]:
# 테스트 케이스: 1900, 1901, 2000, 2004
x = 2004
if x % 4 == 0:
    if x % 100 == 0:
        if x % 400 == 0:
            print(x, '윤년')
        else:
            print(x, '평년')
    else:
        print(x, '윤년')
else:
    print(x, '평년')

2004 윤년

In [37]:
# Code Refactoring
x = 2004
if x % 4 == 0:
    if x % 100 == 0 and x % 400 != 0:
        print(x, '평년')
    else:
        print(x, '윤년')
else:
    print(x, '평년')

2004 윤년

In [41]:
x = 2004
if x % 4 == 0 and not (x % 100 == 0 and x % 400 != 0):
    print(x, '윤년')
else:
    print(x, '평년')

2004 윤년

In [45]:
# not (A and B)  ==> not A or not B
x = 1901
if x % 4 == 0 and (x % 100 != 0 or x % 400 == 0):
    print(x, '윤년')
else:
    print(x, '평년')

1901 평년