# Unit 20. FizzBuzz

In [1]:
for i in range(1, 101):
    if i % 15 == 0:
        print('FizzBuzz', end=' ')
    elif i % 3 == 0:
        print('Fizz', end=' ')
    elif i % 5 == 0:
        print('Buzz', end=' ')
    else:
        print(i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

In [2]:
for i in range(1, 101):
    print('Fizz'*(i%3==0) + 'Buzz'*(i%5==0) or i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

### 연습문제
<pre>
세자리수 두개를 곱해서 만든 수가 대칭수(palindrome)일 때
가장 큰 대칭수와 그 경우 두 수를 구하시오.
</pre>

In [ ]:
# 세자리수 두개를 곱해서 만든 수
for i in range(100,1000):
    for k in range(i,1000):
        mul = i * k

In [3]:
# 대칭수인지를 판단해주는 함수
def is_palindrome(n):
    s = str(n)
    return s == s[::-1]

In [5]:
is_palindrome(12321)

True

In [6]:
# num_list중 최대값은?
num_list = [34, 25, 4, 9, 19, 83, 62]
max_num = 0
for num in num_list:
    if num > max_num:
        max_num = num
print(max_num)

83

In [7]:
# num_list중 최소값은?
min_num = 100
for num in num_list:
    if num < min_num:
        min_num = num
print(min_num)

4

In [8]:
max_num = 0
for i in range(100, 1000):
    for k in range(i, 1000):
        mul = i * k
        if is_palindrome(mul):
            if mul > max_num:
                max_num = mul
                num1, num2 = i, k

print(num1, num2, max_num)

913 993 906609